/* *{
    width: 100%;
    height: 100%;
    margin: 0;
} */
/* .background{
color:hsl(234, 14%, 74%)
} */

body{
    background:url("https: //gitlab.com/rejolut1/pricing-html-css/-/raw/main/images/bg-bottom.svg")
    left bottom no-repeat,
    url(https: //gitlab.com/rejolut1/pricing-html-css/-/raw/main/images/bg-top.svg)
    right top no-repeat;
    background-attachment:fixed ;
    background-color:hsl(240,78%,98%);
}
.new{
    background-color:hsl(230, 12%, 90%) ;
}
.main{
    display:flex;
    /* width: 60%; */
    height: 60%;
    margin-left: 30%;
    margin-right:20%
}
.main>div:hover{
    background-color: rgb(115, 115, 236);
}
.main-2{
    /* border: 1px #ccc solid;*/
    width: 20%;
    margin-left: 45%;
        margin-top: 10%;
        text-align: center;
}
.box-1{
border: 1px #ccc solid;
border-radius: 4%;
width: 45%;
text-align: center;
background-color: white;

transition: transform .2s;
}
.box-1:hover {
    transform: scale(1.1);

}

.box-2 {
border: 1px #ccc solid;
margin-left: 0.5%;
border-radius: 4%;
width: 45%;
text-align: center;
background-color: white;

transition: transform .2s;
}
.box-2:hover {
    transform: scale(1.1);
}

.box-3 {
border: 1px #ccc solid;
margin-left: 0.5%;
border-radius: 4%;
width: 45%;
text-align: center;
background-color: white;

transition: transform .2s;
}
.box-3:hover {
    transform: scale(1.1);
}


.favorite1{
width: 70%;
margin-bottom: 10%;
}
.favorite2 {
width: 70%;
}
.favorite3 {
width: 70%;
}

